*{ padding:0;margin:0;}

html{
    font-size: 62.5%;
}

body {
    font: 12px/1.5 'Microsoft YaHei','宋体', Tahoma, Arial, sans-serif;
    color: #555;
   
}
em, i {
    font-style: normal;
}
ul,li{
    list-style-type: none;
}
strong {
    font-weight: normal;
}
.clearfix:after {
    content: "";
    display: block;
    visibility: hidden;
    height: 0;
    clear: both;
}


.container{
	width:90%;
	min-height:250px;
	max-height:500px;
	height:auto;
	margin:20px auto;
	border:1px solid #ddd;
	background-color: #6f6;
	padding:10px;
	box-sizing:border-box;
}

/**提示信息*/
.tip{
	 
	line-height:26px;
	font-size:15px;
	color:red;
}


.container b {
    display: inline-block;
    vertical-align: top;
  }
  .red {
    color: red;
  }
  .blue {
    color: blue;
  }
  .green {
    color: green;
  }

/**红蓝区,选中区*/
 .redBalls>li,.blueBalls>li,.check_red>li,.check_blue>li{
	display: inline-block;
	width: 28px;
    height: 28px;
    box-sizing: border-box;
    border-radius: 50%;
    margin-right: 5px;
    margin-bottom: 5px;
    text-align: center;
    vertical-align: middle;
    background: #fff;
    overflow: hidden;

  }
 .redBalls>li>a,.blueBalls>li>a {
      display: block;
      width: 28px;
      height: 28px;
      text-align: center;
      vertical-align: middle;
	  line-height: 26px;
      margin-left: -1px;
      cursor: pointer;

   }


.redBalls > li,.check_red>li {
    border: 1px solid red;
    color: red;
	}
    .redBalls> li>a  {
      color: red;
  }
   

 .blueBalls > li,.check_blue>li {
    border: 1px solid blue;
    color: blue;
	}
  .blueBalls > li>a {
      color: blue;
  }
	.checkzone{
		min-height:30px;
	}
   .check_red{
		 display: inline-block;
		 width: 200px;
	 
		 border-right: 1px solid green;
		 box-sizing:border-box;
   }
    .check_blue{
		display: inline-block;
		width: 50px;
	 
	}

.check_red>li,.check_blue>li{
	margin-bottom: 0px;
	line-height: 26px;
}


/**按钮区*/
.btn {
    text-align: center;
    margin-top: 10px;
}
.btn> button {
      padding: 5px 18px;
      background: green;
      border: none;
      color: #fff;
    }
 
   


 